fastapi
uvicorn
python-dotenv
google-genai
firebase-admin
google-cloud-secret-manager
google-cloud-storage
google-cloud-firestore
google-cloud-logging
google-cloud-aiplatform
google-cloud-translate
google-cloud-pubsub
google-cloud-tasks
google-cloud-vision
pydantic
pydantic-settings
python-json-logger
python-multipart
httpx
aiohttp
pytest
pytest-asyncio
